li {
    list-style: none;
}

ul {
    padding: 0 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    gap: 5px;
    padding: 0 15px;
    border-radius: 8px;
    background-color: #ededed;
}

.todo {
    font-size: 15px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
}

.btns .del,
.btns .edit {
    padding: 7px 10px;
    margin: 5px;
}

.del {
    background-color: rgb(190, 40, 40);
    border: 1px solid grey;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.edit {
    background-color: rgb(17, 117, 17);
    border: 1px solid grey;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.del:hover,
.edit:hover {
    box-shadow: 0 0 4px rgb(10, 10, 10);
}

button {
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.strike {
    text-decoration: line-through;
}

ul li span {
    color: rgb(158, 158, 158);
    font-size: 14px;
}

input[type="checkbox"] {
    cursor: pointer;
}

@media (max-width: 768px) {

    .btns .del,
    .btns .edit {
        padding: 7px 5px;
        margin: 5px;
    }

    .todo {
        width: 100%;
    }
}

@media (max-width: 520px) {

    .row {
        flex-direction: column;
        background-color: transparent;
    }

    .todo {
        width: 100%;
        background-color: #ededed;
    }

    .btns {
        width: 100%;
    }

    .del,
    .edit {
        width: 100%;
    }


}